<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Example</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            color: #333;
            padding: 20px;
        }

        .container {
            max-width: 600px;
            margin: 0 auto;
            background-color: #fff;
            padding: 20px;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        h1 {
            color: #0066cc;
        }

        p {
            line-height: 1.6;
        }

        a {
            color: #0066cc;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }

        .footer {
            margin-top: 20px;
            text-align: center;
            color: #777;
        }

        .logos {
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin-bottom: 20px;
        }

        .logo {
            width: 60px;
            height: 60px;
            margin-right: 15px;
        }
    </style>
</head>

<body>
    <div class="container">
        <div class="logos">
            <img src="cid:csea" class="logo">
            <img src="cid:abacus" class="logo">
        </div>
        <h1>Hi there!</h1>
        <p> <%- text.replace(/\n/g, '<br>' ) %> </p>
        <div>
            <p>Regards,<br>Team Abacus.</p>
        </div>
    </div>
</body>

</html>